/* Coolors Exported Palette - coolors.co/071013-1d2528-395756-564e58-e8e9eb */

/* HSL */
$color1: hsla(195%, 46%, 5%, 1);
$color2: hsla(196%, 16%, 14%, 1);
$color3: hsla(178%, 21%, 28%, 1);
$color4: hsla(288%, 6%, 33%, 1);
$color5: hsla(220%, 7%, 92%, 1);

/* RGB */
$color1: rgba(7, 16, 19, 1);//Rich Black
$color2: rgba(29, 37, 40, 1);//Dark Gunmetal
$color3: rgba(57, 87, 86, 1);//Dark Slate Gray
$color4: rgba(86, 78, 88, 1); //Davy's grey
$color5: rgba(232, 233, 235, 1); //Platinum